#!/usr/bin/make -f

KERNEL_HEADERS ?= $(shell echo $(DEB_BUILD_OPTIONS) | grep -oP 'KERNEL_HEADERS=\K[^ ]+')

DEST_SRC_DIR := $(CURDIR)/debian/tmp/usr/src/vc-mipi-driver-${MODULE_VERSION}-${VERSION_DEB_PACKAGE}
DEST_BOOT_DIR := $(CURDIR)/debian/tmp/boot/
DEST_DKMS_DIR := $(CURDIR)/debian/tmp/usr/share/vc-mipi-driver-${MODULE_VERSION}-dkms
DEST_DKMS_VAR_DIR := $(CURDIR)/debian/tmp/var/lib/dkms/vc-mipi-driver-${MODULE_VERSION}/${VERSION_DEB_PACKAGE}/source
%:
	dh $@

override_dh_auto_clean:
	cd src && $(MAKE) clean

override_dh_auto_build:
	cd src && $(MAKE) dtbo_current

override_dh_auto_install:

	# Divert the files to prevent dpkg from making backup links
	dpkg-divert --local --rename --add /boot/firmware/config_vc-mipi-driver-${MODULE_VERSION}.txt
	# Install to tmp directory with verbose output
	
	mkdir -p $(DEST_SRC_DIR)
	mkdir -p $(DEST_DKMS_DIR)/overlays/
	mkdir -p $(CURDIR)/debian/tmp/usr/local/bin/
	mkdir -p $(DEST_BOOT_DIR)/firmware/overlays/
	mkdir -p $(DEST_DKMS_VAR_DIR)
	mkdir -p $(CURDIR)/debian/tmp/etc/udev/rules.d


	cp dkms.conf $(DEST_SRC_DIR)
	cp dkms.conf $(DEST_DKMS_VAR_DIR)

	cp -rv src/* $(DEST_SRC_DIR)

	# Device Tree Files
	cd $(DEST_SRC_DIR)/overlays && $(MAKE) all
	rm -f $(DEST_SRC_DIR)/set_rpi5_pipeline
	rm -f $(DEST_SRC_DIR)/99-camera-setup.rules


	cp src/overlays/config_vc-mipi-driver-${MODULE_VERSION}.txt $(CURDIR)/debian/tmp/boot/firmware/

	chmod 644 $(DEST_BOOT_DIR)/firmware/config_vc-mipi-driver-${MODULE_VERSION}.txt
	cp src/vc-config $(CURDIR)/debian/tmp/usr/local/bin/
	cp src/set_rpi5_pipeline $(CURDIR)/debian/tmp/usr/local/bin/
	chmod 755 $(CURDIR)/debian/tmp/usr/local/bin/set_rpi5_pipeline
	chmod 755 $(CURDIR)/debian/tmp/usr/local/bin/vc-config
	cp src/99-camera-setup.rules $(CURDIR)/debian/tmp/etc/udev/rules.d/
	chmod 755 $(CURDIR)/debian/tmp/etc/udev/rules.d/99-camera-setup.rules

	cp debian/postinst $(DEST_DKMS_VAR_DIR)/post_install 
	chmod +x $(DEST_DKMS_VAR_DIR)/post_install


	chmod -R 644 $(DEST_BOOT_DIR)/firmware/overlays/
	
	# Ensure the file is copied before running dh_install
	dh_install --sourcedir=$(CURDIR)/debian/tmp --verbose 

	# Undivert the files after installation
	dpkg-divert --local --rename --remove /boot/firmware/config_vc-mipi-driver-${MODULE_VERSION}.txt

override_dh_missing:
	dh_missing --fail-missing

override_dh_install:
	dh_install --sourcedir=debian/tmp --verbose 

override_dh_usrlocal:
    # Empty override to prevent dh_usrlocal from running